<p>Właściciel : <span class="name">{{$ctrl.item.owner}}</span></p>
<p>Nazwa listy : <span class="name">{{$ctrl.item.name}}</span></p>
<div ng-if="$ctrl.item.products.length">
	<button class="btn" ng-click="$ctrl.item.isVisible=!$ctrl.item.isVisible" ng-show="!$ctrl.item.isVisible">Pokaż</button>
	<button class="btn" ng-click="$ctrl.item.isVisible=!$ctrl.item.isVisible" ng-show="$ctrl.item.isVisible">Ukryj</button>
</div>
<div ng-show="$ctrl.item.isVisible">
	<product-details ng-repeat="product in $ctrl.item.products | orderBy:'name'"  product="product" list="$ctrl.list" item="$ctrl.item" refresh="$ctrl.refresh" on-delete="$ctrl.deleteProduct(product)" on-update="$ctrl.updateProduct(product, prop, value)"></product-details>
</div>
<product-form list="$ctrl.list" item="$ctrl.item" refresh="$ctrl.refresh"></product-form>
<button class="btn" ng-click="$ctrl.delete()">Delete</button>