body{
	background-color: #646966;
	font-family: 'Roboto', sans-serif;
}


.had-done {
    background-color: #3DAA5C;
    color:white;
    border-radius: 5px;
}

.productList{
	display: inline-block;
	background-color: #fcffb8;
	margin:20px;
	padding:20px;
	min-height: 200px;
	min-width: 200px;
	border-radius: 25px;
	color:#484c4a;
}

.btn{
	font-family: 'Roboto', sans-serif;
	color:white;
	background-color: #5E83FF;
	padding: 5px;
	border-style: none;
	margin:10px;
	font-size:16px;
}

.btn:hover{
	background-color: #2D4348;
}

input{
	font-family: 'Roboto', sans-serif;
	padding: 10px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.product_name{
	font-weight: 500;
	padding: 5px;
}

.desc{
	font-size: 15px;
	margin-left: 10px;
}

.name{
	font-weight: 500;
	margin-left: 10px;
}